{% extends '../base.html' %}

    {% block content %}
        <h1>Bills Payment</h1>
        <div class="header">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="{% url 'bills_payment' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
                <li role="presentation"><a href="{% url 'bill_payment_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a class="" href="{% url 'bill_payment_edit' pk=obj.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li role="presentation" class="active"><a class="" href=""><span class="glyphicon glyphicon-eye-open"></span></a></li>
            </ul>
          
        </div>
        <h3>Bill Payment Detail </h3>
         <div class="panel panel-warning">
            <div class="panel-heading"><h3 class="panel-title">Bill Payment #{{obj.id}}</h3></div>
            <div class="panel-body">
               <p><strong>Bill:</strong> {{obj.bill}}</p>
               <p><strong>Pay Type:</strong> {{obj.pay_type}}</p>
               <p><strong>Payment Date:</strong> {{obj.payment_date }}</p>
               <p><strong>Amount Paid:</strong> {{obj.amount_paid}}</p>
               <p><strong>Amount Restanting:</strong> {{obj.amount_restanting}}</p>



            </div>
            
        </div>
        
    {% endblock %}