{% extends '../base.html' %}

  {% block content %}
    <h1>Customers</h1>
    <div class="header">
      <ul class="nav nav-tabs">
         <li role="presentation" class="active"><a href="{% url 'customers' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
         <li role="presentation"><a href="{% url 'customer_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
      </ul>
                 
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               <th rowspan="2" class="text-center">Identificador</th>
               <th rowspan="2" class="text-center">Nombres y Apellidos</th>
               <th rowspan="2" class="text-center">View Details</th>
            </tr>
        </thead>
        <tbody>
  
            {% for obj in objs %}
                <tr>
                  <td class="text-center">Customer #{{obj.id}}</td>
                  <td class="text-center">{{ obj.name }} {{ obj.firstname }} {{ obj.lastname }}</td>
                  <td class="text-center"><a class="btn btn-default" href="{% url 'customer_detail' obj.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>      
            {% endfor %}
        </tbody>
    </table>
  

  {% endblock content %}