{% extends '../base.html' %}

    {% block content %}
    {% load bootstrap %}
        <h1>Rooms</h1>
        <div class="header">
      		<ul class="nav nav-tabs">
         		<li role="presentation" ><a href="{% url 'rooms' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
         		<li role="presentation"><a href="{% url 'room_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
            <li role="presentation" class="active"><a href="" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a></li>
      		</ul>
                 
    	  </div>
        <h3>Room Edit</h3>
        <form method="POST" class="roomtype-form">{% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endblock %}