{% extends '../base.html' %}

 {% block content %}

 
  <table class="table table-bordered table-striped">
  <thead>
   <tr>
            <th rowspan="2" class="text-center">Nro.</th>
            <th rowspan="2" class="text-center">Room</th>
            <th rowspan="2" class="text-center"> Type Room</th>
            <th rowspan="2" class="text-center">Is reserved?</th>
            <th rowspan="2" class="text-center">Reservar</th>
            
  </tr>
  </thead>
  <tbody>
  
  {% for obj in objs %}
    <tr>
        <td class="text-center">{{obj.id}}</td>
        <td class="text-center">{{obj.nro_room }}</td>
         <td class="text-center">{{obj.name_type }}</td>
        <td class="text-center">{{obj.is_reserved }}</td>
        <td class="text-center"><a class="btn btn-default" href="{% url 'room_reservar' obj.pk,reservar %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>      
  {% endfor %}
  </tbody>
  </table>
  

{% endblock content %}
