{% extends '../base.html' %}

 {% block content %}
  <h1>Bookings</h1>
  <div class="header">
      <ul class="nav nav-tabs">
         <li role="presentation" class="active"><a href="{% url 'bookings' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
         <li role="presentation"><a href="{% url 'booking_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
      </ul>
   
                
  </div>
  <table class="table table-bordered table-striped">
  <thead>
   <tr>
            <th rowspan="2" class="text-center">Booking.</th>
            <th rowspan="2" class="text-center">Customer</th>
            <th rowspan="2" class="text-center">Date</th>
             <th rowspan="2" class="text-center">View Details</th>
  </tr>
  </thead>
  <tbody>
  
  {% for obj in objs %}
    <tr>
        <td class="text-center">Booking #{{obj.id}}</td>
        <td class="text-center">{{ obj.customer }}</td>
        <td class="text-center">{{ obj.reservation_date }}</td>
        <td class="text-center"><a class="btn btn-default" href="{% url 'booking_detail' pk=obj.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>      
  {% endfor %}
  </tbody>
  </table>
  

{% endblock content %}