{% extends '../base.html' %}

    {% block content %}
        <h1>Room - Rating</h1>
        <div class="header">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="{% url 'rr' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
                <li role="presentation"><a href="{% url 'rr_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a class="" href="{% url 'rr_edit' pk=obj.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li role="presentation" class="active"><a class="" href=""><span class="glyphicon glyphicon-eye-open"></span></a></li>
            </ul>
          
        </div>

        <h3>Room - Rating Detail</h3>
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">{{obj.room}}</h3></div>
                <div class="panel-body"> 
                    <p><strong>Rating: </strong>{{obj.rating|linebreaksbr}}</p>
                    <p><strong>From Date: </strong>{{obj.from_date }}</p>
                    <p><strong>To Date: </strong>{{obj.to_date }}</p>
                    <p><strong>Is Active? </strong>{{obj.is_active }}</p>
                </div> 
            </div> 
            
        
    {% endblock %}