 {% extends '../base.html' %}

 {% block content %}
 {% load bootstrap %}
        <h1>Pay Types</h1>
        <div class="header">
      		<ul class="nav nav-tabs">
         		<li role="presentation" ><a href="{% url 'pay_type' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
         		<li role="presentation" class="active"><a href="{% url 'pay_type_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
      		</ul>
                 
        </div>
        <h3>Pay Type New</h3>
        <form method="POST" class="roomtype-form">{% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
  {% endblock %}