 {% extends '../base.html' %}

 {% block content %}

    <h1>Room Types</h1>
    <div class="header">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="{% url 'room_type' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span></a>   </li>
                <li role="presentation"><a href="{% url 'room_type_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a class="" href="{% url 'room_type_edit' pk=obj.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li role="presentation" class="active"><a class="" href=""><span class="glyphicon glyphicon-eye-open"></span></a></li>
                <li role="presentation"><a href="{% url 'rent_roomtype' pk=obj.pk %}"><span class="glyphicon glyphicon-list-alt"></span> Rents</a></li>
                <li role="presentation"> <a href="{% url 'rent_new' %}"><span class="glyphicon glyphicon-plus"></span> Rent</a></li>
            </ul>
          
    </div>
    <h3>Room Type Detail</h3>
 <div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">{{obj.name_type }}</h3></div>
    <div class="panel-body">{{obj.description|linebreaksbr }}</div>
 </div>  
 <div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Renta Actual</h3></div>
        {% for rent in rents %}
            <div class="panel-body"> 
                <p> <strong>{{ rent.name_type }}</strong></p>
                <p> <strong>Amount:</strong> {{ rent.amount }}</p>
                <p> <strong>From Date:</strong> {{ rent.from_date }}</p>
                <p> <strong>To Date:</strong> {{ rent.to_date}}</p>
                <p> <strong>Is Active?</strong> {{ rent.is_active}}</p>
            </div>

        {% endfor %}
    </div> 
 {% endblock %}